.row
  .col-lg-10.col-lg-offset-1

    - if notice
      .alert.alert-info= notice

    %h1= @workout.workout
    %p
      %strong
        Mood: 
      = @workout.mood
      &nbsp;
      %strong
        Duration: 
      = @workout.length
      &nbsp;
      %strong
        Date: 
      = @workout.date


    %div.btn-group
      = link_to "Back", workouts_path, class: "btn btn-default"
      = link_to "Edit", edit_workout_path, class: "btn btn-default"
      = link_to "Destroy", workout_path, method: :delete, class: "btn btn-default"

    %br
    %br
    %h2 Exercises
    
    - if @workout.exercise.size
      %ul
        - @workout.exercise.each do |exercise|
          %li
            %strong= exercise.name
            = " - #{pluralize(exercise.sets, 'Set')} of #{pluralize(exercise.reps, 'repetition')}"

    %br
    %br
    %h4 Add Exercise
    = render 'exercises/form'