!!!
%html
%head
  %title Workout Log
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags

%body
  
  %nav.navbar.navbar-default
    .container
      .navbar-brand
        Workout Log
      %ul.nav.navbar-nav
        %li= link_to "Workouts", workouts_path
      = link_to "New Workout", new_workout_path, class: 'navbar-text navbar-right navbar-link'
        

  %div.container
    = yield